<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>to do list</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1><%= kindOfDay %></h1>

  <form class="toDoList" action="/" method="post">
    <input type="text" name="newItem">
    <input type="submit" name="submitButton" value="Add Item">
  </form>
  <ul>

    <% for(var i = 0; i < newListItems.length; i++ ) { %>
    <li> <%= newListItems[i] %> </li>
    <%  }; %>

  </ul>
</body>

</html>
